<!DOCTYPE html>
<html>

<head>
  <title>Drecom Workshop Python Example</title>
  <link rel="stylesheet" type="text/css" href="/static/assets/main.css" />
</head>

<body>
  <div>
    <header>
      <a href="https://tech.drecom.co.jp/">
      </a>
    </header>
    <section class="content">
      <h1>This static HTML app was deployed with AWS AppRunner using Python.</h1>
      <p>
        Try making a change to this text locally and push your code again to see it.
      </p>
    </section>
    <footer>
      <a href="https://dredom.co.jp">
        <img src="/static/assets/logo.png" alt="Drecom" />
      </a>
    </footer>
  </div>
</body>

</html>